* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    
}

.conteudo {
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.conteudo__secao {
    padding: 2% 2%;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}
.conteudo__secao__texto__titulo {
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4.5rem;
}
.conteudo__secao__texto__paragrafo {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}
.conteudo__secao__input {
    width: 100%;
    height: 15px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #ffd941;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.conteudo__secao__botoes {
    display: flex;
    gap: 2rem;
}
.conteudo__secao__botoes__botao {
    border-radius: 16px;
    background: #ffd941;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}
button:disabled {
    background-color: #383838;
    color: #7e7e7e;
}
.conteudo__img {
    width: 34.8rem;
    height: 39rem;
    margin-left: -50px;
}

@media (max-width: 1100px){
    body {
        background-size: auto;
        align-items: center;
        background-position: center;
    }
    .conteudo {
        padding: 0  0 0 0;
        align-items: center;
        flex-direction: column-reverse;
        
    }
    .conteudo__secao {
        width: 50%;
        height: 35%;
        gap: 0.1rem;
    }
    .conteudo__secao__texto__titulo{
        font-size: 2rem;

    }
    .conteudo__secao__texto__paragrafo {
        font-size: 100%;
    }
    .conteudo__secao__botoes {
        width: 100%;
        flex-direction: column;
        gap: 0.1rem;
    }
    .conteudo__secao__botoes__botao {
        width: 100%;
    }
    .conteudo__secao__input {
        width: 100%;
    }
    .conteudo__img {
        width: 30%;
        height: 35%;
    }
}
    